<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
<nav>
    <a href="login">Login</a>
</nav>
<h1>Projekt töötab</h1>
<% if (msg === "created") { %>
    <p>Uudis lisatud!</p>
<% } %>
<% if (msg === "updated") { %>
    <p>Uudis muudetud!</p>
<% } %>
<% if (msg === "deleted") { %>
    <p>Uudis kustutatud!</p>
<% } %>

<% news.forEach(n => { %>
    <h2>
        <a href="/news/<%= n.id %>"><%= n.title %></a>
    </h2>
    <p><%= n.content %></p>
    <form action="/news/delete" method="POST">
        <input type="hidden" name="id" value="<%= n.id %>">
        <button type="submit">Kustuta</button>
    </form>

    <a href="/news/edit/<%= n.id %>">Muuda</a>


<% }) %>


</body>
</html>
